/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'fenix', sans-serif,;
    background-color: #550000;
}

h1, h2, h3 {
    letter-spacing: 4px;
}

/* Header */
header {
    background-image: url("../images/Nav_bar.png");
    background-position: top center;
    background-attachment: relative;
    background-repeat: no-repeat;
    font-family: 'fenix', sans-serif;
    color: #fff;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #550000;
    position: fixed;
    z-index: 251;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.menu {
    letter-spacing: 4px;
    list-style-type: none;
}

.active {
    border-bottom: 0.5px solid #fff;
}

nav {
    position: absolute;
    background-image: url("../images/side_bar.png");
    display: none;
    top: 100%;
    width: 100px;
    height: 80px;
    right: 0;
    box-shadow: 0 5px 5px #550000;
    padding: 9px 1rem;
}

/* menu */
.toggle-menu:checked~nav {
    display: block;
    
}

.toggle-menu {
    display: none;
}


/* Main */
main {
    color: #fff;
    margin-top: 100px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("../images/Hero_img.png");
    background-position: center;
    background-attachment: relative;
    background-size: 1232px;
    background-repeat: no-repeat;
}
