/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'fenix', sans-serif,;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
    color: #f00;
    padding-bottom: 10px;
}

.hole-page {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

/* Header */
header {
    background-color: #000;
    color: #f00;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #550000;
    z-index: 251;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 15px 0 5px 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

.menu {
    letter-spacing: 4px;
    list-style-type: none;
}

.menu li {
    padding: 3px 0;
}

.active {
    border-bottom: 0.5px solid #f00;
}

/* menu */
header nav {
    position: absolute;
    background-image: url("../images/side_bar.webp");
    display: none;
    top: 67px;
    width: 110px;
    height: 110px;
    right: 1%;
    box-shadow: 0 5px 5px #550000;
    padding: 9px 1rem;
}

.toggle-menu:checked~nav {
    display: block;
}

.toggle-menu {
    display: none;
}

/* main */
main {
    color: #fff;
    flex: 1 0 auto;
    background-image: url("../images/Hero_img.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Home page */
.index-content {
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.witch-image {
    background: url(../images/Burning-light.jpg) no-repeat center center/cover;
    width: 0;
    height: 0;
}
.witch-landscape {
    background: url(../images/view-daunting-witch-character.jpg) no-repeat center center/cover;
    width: 0;
    height: 0;
}

/* Video */
.video {
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 152px;
}

/* Witches section */
.trials {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.trials>.killed-witches {
    display: flex;
    flex-wrap: wrap;
}

.trials>.killed-witches a,
.trials a {
    color: inherit;
    text-decoration: none;
}

.trials>.killed-witches>.index-link {
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.explain {
    text-align: start;
    padding-left: 20px;
}

/* Witches page */
.trail {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.trail h1 {
    padding: 10px 0;
    color: #f00;
}

.trail p {
    padding: 20px 0;
}

.record-marit,
.record-elisabetta,
.record-margreta {
    display: none;
    padding: 20px 0;
}

.record-marit:checked~nav,
.record-elisabetta:checked~nav,
.record-margreta:checked~nav {
    display: block;
}

.record-marit a,
.record-elisabetta a,
.record-margreta a {
    color: #f00;
    text-decoration: none;
}

.tr h1 {
    border-bottom: 1px solid #f00;
}

.tr h2 {
    background-color: #000;
    padding: 5px 25px;
    border: 2px solid #550000;
    margin: 0 auto;
    width: 230px;
}

.witches-top {
    color: #f00;
    text-decoration: none;
}

/* Contact page */
.form {
    padding: 10px 5px 50px 5px;
}

.contact {
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #550000;
    border-radius: 5px;
    padding: 15px;
    max-width: 350px;
    height: 100%;
    text-align: start;
}

.contact-title {
    margin: 30px auto;
    color: #f00;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #550000;
    border-radius: 5px;
    padding: 15px;
    max-width: 350px;
    height: 100%;
}

.form-text {
    background-color: rgb(222, 222, 222);
    color: #550000;
    border: 2px solid #550000;
    border-radius: 5px;
    padding: 0 7px;
    margin: 7px 0 15px 0;
    height: 30px;
    width: 100%;
}

.textarea {
    font-size: 12px;
    font-family: sans-serif;
    resize: none;
    background-color: rgb(222, 222, 222);
    color: #550000;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 4px solid #550000;
    border-radius: 5px;
}
.submit {
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #550000;
    font-size: 100%;
}

@media screen and (min-width: 500px) {
    /* Home page */
    .video {
    width: 400px;
    height: 225px;
    }
}

@media screen and (min-width: 768px) {
    header nav {
        display: block;
        box-shadow: none;
        background: none;
        position: relative;
        padding-right: 230px;
        height: 0;
        top: 0;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .menu-nav {
        display: none;
    }

    /* Home page */
    .media-addition {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .media-addition>.witch-image {
        height: 168px;
        width: 270px;
    }
    
    .media-addition>.witch-landscape {
        height: 230px;
        width: 300px;
    }

    .video {
        width: 700px;
        height: 394px;
    }
}

@media screen and (min-width: 992px) {
    .hole-page {
        font-size: 120%;
    }

    .menu a:hover {
        border-bottom: 1px solid #fff;
    }

    /* Home page */
    .media-addition>.witch-image {
        height: 168px;
        width: 336px;
    }

    .media-addition>.witch-landscape {
        height: 242px;
        width: 363px;
    }

    .video {
        width: 1000px;
        height: 563px;
    }

    /* Witches page */
    .tra:hover {
        cursor: pointer;
    }

    /* Contact page */
    .contact,
    .contact-title {
        max-width: 500px;
    }

    .form-text {
        height: 35px;
    }

    .textarea {
        font-size: large;
    }
}