/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'fenix', sans-serif,;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    background: url("../images/hero_img.webp") no-repeat center center/cover;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
    color: #f00;
    padding-bottom: 10px;
}
/* main */
main {
    padding: 0 5%;
    color: #fff;
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 1100px;
}

/* Header */
header {
    background-color: #000;
    color: #f00;
    box-shadow: 0 3px 3px #550000;
    z-index: 251;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    padding: 15px 50px 5px 25px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.menu {
    letter-spacing: 4px;
    list-style-type: none;
}

.menu li {
    padding: 3px 0;
}

.active {
    border-bottom: 0.5px solid #f00;
}

/* menu */
header nav {
    position: absolute;
    background-image: url("../images/side_bar.webp");
    display: none;
    top: 67px;
    width: 110px;
    height: 110px;
    right: 1%;
    box-shadow: 0 5px 5px #550000;
    padding: 9px 1rem;
}

.toggle-menu:checked~nav {
    display: block;
}

.toggle-menu {
    display: none;
}

/* Home page */
.index-content {
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.witch-image {
    background: url("../images/burning-light.webp") no-repeat center center/cover;
    width: 0;
    height: 0;
}
.witch-landscape {
    background: url("../images/view-daunting-witch-character.webp") no-repeat center center/cover;
    width: 0;
    height: 0;
}

/* Video */
.video {
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 152px;
}

/* Witches section */
.trials {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.trials>.killed-witches {
    display: flex;
    flex-wrap: wrap;
}

.trials>.killed-witches a,
.trials a {
    color: inherit;
    text-decoration: none;
}

.trials>.killed-witches>.index-link {
    padding: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.explain {
    text-align: start;
    padding-left: 20px;
}

/* Witches page */
.top>h2 {
    font-size: xx-large;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.tra {
    color: #f00;
}

.trail {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15px 5px;
    border: 2px solid #550000;
}

.trail>h2 {
    font-size: xx-large;
    border-bottom: 1px solid #f00;
}

.trail p {
    padding: 20px 0;
}

.record-marit,
.record-elisabetta,
.record-margreta {
    display: none;
    padding: 20px 0;
}

.record-marit:checked~div,
.record-elisabetta:checked~div,
.record-margreta:checked~div {
    display: block;
}

.record-marit a,
.record-elisabetta a,
.record-margreta a {
    color: #f00;
    text-decoration: none;
}

.border-box {
    background-color: #000;
    padding: 5px 0;
    border: 1px solid #550000;
    margin: 0 auto;
    width: 230px;
}

/* Contact page */
.form {
    padding: 10px 5px 50px 5px;
}

.contact {
    margin: 0 auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #550000;
    border-radius: 5px;
    padding: 15px;
    max-width: 350px;
    height: 100%;
    text-align: start;
}

.contact-title {
    margin: 30px auto;
    color: #f00;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #550000;
    border-radius: 5px;
    padding: 15px;
    max-width: 350px;
    height: 100%;
}

.form-text {
    background-color: rgb(222, 222, 222);
    color: #550000;
    border: 2px solid #550000;
    border-radius: 5px;
    padding: 0 7px;
    margin: 7px 0 15px 0;
    height: 30px;
    width: 100%;
}

.textarea {
    font-size: 12px;
    font-family: sans-serif;
    resize: none;
    background-color: rgb(222, 222, 222);
    color: #550000;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 4px solid #550000;
    border-radius: 5px;
}
.submit {
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #550000;
    font-size: 100%;
}

/* Response page */
.witches-top {
    color: #f00;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #000000;
    height: 50px;
    box-shadow: 0 -5px 5px #550000;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.icons {
    padding-right: 25px;
    letter-spacing: 5px;
}

.icons a {
    text-decoration: none;
    color: #f00;
}

.logo {
    padding-left: 5px;
}

.logo a {
    text-decoration: none;
    color: #f00;
}

/* Response page */
.thank-you {
    background-color: #000;
    padding: 5px 25px;
    border: 2px solid #550000;
    margin: 0 auto;
    font-size: xx-large;
    margin-top: 100px;
    max-width: 530px;
}

@media screen and (min-width: 500px) {
    /* Home page */
    .video {
    width: 400px;
    height: 225px;
    }
    
    /* Footer */
    .logo {
        padding-left: 55px;
    }

    .icons {
        padding-right: 55px;
    }
}

@media screen and (min-width: 768px) {
    /* Menu */
    header nav {
        display: block;
        box-shadow: none;
        background: none;
        position: relative;
        padding-right: 230px;
        height: 0;
        top: 0;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .menu-nav {
        display: none;
    }

    .menu a:hover {
        border-bottom: 1px solid #fff;
    }

    /* Home page */
    .media-addition {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .media-addition>.witch-image {
        height: 168px;
        width: 270px;
    }
    
    .media-addition>.witch-landscape {
        height: 230px;
        width: 300px;
    }

    .video {
        width: 700px;
        height: 394px;
    }
    
    /* Witches page */
    .tra:hover {
        cursor: pointer;
    }

    /* Contact page */
    .submit:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 992px) {
    main {
        font-size: 120%;
    }

    /* Home page */
    .media-addition>.witch-image {
        height: 168px;
        width: 336px;
    }

    .media-addition>.witch-landscape {
        height: 242px;
        width: 363px;
    }

    .video {
        width: 850px;
        height: 479px;
    }

    /* Contact page */
    .contact,
    .contact-title {
        max-width: 500px;
    }

    .form-text {
        height: 35px;
    }

    .textarea {
        font-size: large;
    }
}